.card-body {
	height:100%;
	width: 100%;
    flex: 1 1 auto;
    padding: 1.25rem;
    background-color: #e3e3e3;

}
.card{
	word-wrap: break-word;
}
.card-header, .card-title {

    text-transform: uppercase;
    color: rgba(13, 27, 62, 0.7);
    font-weight: bold;
    font-size: 0.88rem;

}

.dropdownMargin span{
    margin-left: 15px;
}

.dropdownMargin ul{
    margin-left: 0px;
}

.btn-group > .btn:first-child {

    margin-left: 0;

}
.btn:not(:disabled):not(.disabled) {

    cursor: pointer;

}
.btn-group .btn {

    font-size: 0.8rem;
    font-weight: 500;

}
.btn-group > .btn, .btn-group-vertical > .btn {

    position: relative;
    flex: 0 1 auto;

}
button, html [type="button"], [type="reset"], [type="submit"] {

    -webkit-appearance: button;

}
.btn {

    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;

}
.btn-primary {

    color: #fff;
    background-color: #3f6ad8;
    border-color: #3f6ad8;

}
.btn {

    font-size: 0.8rem;
    font-weight: 500;

}
a, button, .btn {

    outline: none !important;

}
.mb-2, .my-2 {

    margin-bottom: 0.5rem !important;

}
.mr-2, .mx-2 {

    margin-right: 0.5rem !important;

}
.btn-primary {

    color: #fff;
    background-color: #3f6ad8;
    border-color: #3f6ad8;

}
.btn {

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    font-size: 0.88rem;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.88rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;

}
.font-icon-wrapper {

    text-align: center;
    border: #333 solid 1px;
    border-radius: 0.25rem;
    margin: 10px;
    padding: 5px;

}

.font-icon-wrapper p{
	color: #333;
	font-size: 0.80667rem;
	margin: 5px 0 0;	
}


